node_modules
.env
.vercel


# mFp9qDKgkH5zDEq7Ff96ytr2Nbbp2lE
# zsqur-to-leet

# DATABASE=mongodb+srv://zsqur-to-leet:mFp9qDKgkH5zDEq7Ff96ytr2Nbbp2lE@to-leet.8puvymi.mongodb.net/?retryWrites=true&w=majority

# DATABASE=mongodb+srv://zsqur-to-leet:mFp9qDKgkH5zDEq7Ff96ytr2Nbbp2lE@to-leet.8puvymi.mongodb.net/